@import "variables";

@mixin black_key{
    margin-right: $black_key_margin-right;
    height: $black_key_height;
    width: $black_key_width;
    border: $black_key_border;
    border-radius: 2px;
    border-bottom: none;
}
@mixin skip_key{
    display: inline-block;
    margin-right: $skip_key_margin-right;
    width: $skip_key_width;
    border: none;
    background-color: transparent;
}
@mixin victory_text{
    font-family: cursive;
    text-align: center;
    font-size: 5em;
    animation: hoverblink 1s linear alternate infinite
}
@mixin music_sheet{
    height: auto;
    margin: 1% 0 0 0;
    background-image: url(../../images/music_sheet7.png);
    background-size: cover;
    background-position-y: 38%;
    border-radius: 10px;
}

//Keyframes
@mixin hoverblink {
    0% {opacity: 1}
    100% {opacity: 0}
}
@mixin float {
    0% {
        box-shadow: 0 5px 15px 0 rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
    50% {
        box-shadow: 0 25px 15px 0 rgba(0,0,0,0.2);
        transform: translatey(-5px);
    }
    100% {
        box-shadow: 0 5px 15px 0 rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
}