@import "variables";

@mixin black_key{
    margin-right: $black_key_margin-right;
    height: $black_key_height;
    width: $black_key_width;
    border: $black_key_border;
    border-radius: 2px;
    border-bottom: none;
}
@mixin skip_key{
    display: inline-block;
    margin-right: $skip_key_margin-right;
    width: $skip_key_width;
    border: none;
    background-color: transparent;
}
@mixin victory_text{
    font-family: cursive;
    text-align: center;
    font-size: 5em;
    animation: hoverblink 1s linear alternate infinite
}
@mixin music_sheet{
    height: auto;
    margin: 1% 0 0 0;
    //background-color: white;
    background-image: url(../../images/music_sheet7.png);
    background-size: cover;
    background-position-y: 38%;
    border-radius: 10px;
}