$blackKey: #0a0a0a;
$whiteKey: #ffffff;
$backgroundImg: url(../../images/piano-bg.jpg);

//keyboard
$keyboard_height: 192px;
$keyboard_margin: 146px 0 26px 46px;
$keyboard_opacity: .9;
$keyboard_hover_opacity: 1;
$black_key_margin-right: 20px;
$black_key_height: 120px;
$black_key_width: 24px;
$black_key_border: 1px solid white;
$black_key_hover_border: 1px solid blueviolet;

$skip_key_margin-right: 20px;
$skip_key_width: 27px;