$blackKey: #0a0a0a;
$whiteKey: #ffffff;
$backgroundImg: url(https://static1.squarespace.com/static/556587d8e4b052dd15ceadff/t/56949efc2399a32f94257868/1452580608272/Pauls-Piano-Background.jpg?format=1500w);

//keyboard
$keyboard_height: 192px;
$keyboard_margin: 146px 0 26px 46px;