@import "variables";
@import "mixins";
@keyframes float {
    @include float;
}
@keyframes hoverblink {
    @include hoverblink;
}
@media all and (min-width: 1200px) {
    @for $i from 0 through 6 {
        #white#{$i} {
            opacity: .3;
        }
    }

    @for $i from 7 through 13 {
        #white#{$i} {
            opacity: .6;
        }
    }
    @for $i from 14 through 23 {
        #white#{$i} {
            opacity: .3;
        }
    }
}
@media not all and (min-width: 1200px) {
    .keyboard{
        margin: 0;
    }
    .skip_key10{
        width: 11%!important;
    }
    @for $i from 0 through 6 {
        #white#{$i} {
            display: none;
        }
    }

    @for $i from 7 through 13 {
        #white#{$i} {
            opacity: .6;
            width: 13.29%
        }
    }
    @for $i from 14 through 23 {
        #white#{$i} {
            display: none;
        }
    }
    @for $i from 1 through 7 {
        #black#{$i} {
            display: none;
        }
    }
    @for $i from 7 through 13 {
        #black#{$i} {
            width: 11.29%
        }
    }
    @for $i from 14 through 23 {
        #black#{$i} {
            display: none;
        }
    }
}
@media (max-width: 724px) {
    .keyboard{
        left: 0;
    }
}
body{
    background-color: black;
    background-size: cover;
    background-image: $backgroundImg;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: center;
    min-height: 100vh;
}
a{
    font-family: $link_font;
}
img {
    display: block;
    margin: auto;
    width: 50%;
}
.black_key{
    background-color: $blackKey;
    display: inline-block;
    @include black_key;
}
.black_key_select{
    border: $black_key_hover_border;
}
.skip_key{
    @include skip_key;
}
.white_key{
    display: inline-block;
    height: 196px;
    width: 4.167%;
    border: .5px solid black;
    background-color: $whiteKey;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.keyboard{
    width: 100%;
    position: relative;
    height: $keyboard_height;
    margin: $keyboard_margin;
    opacity: $keyboard_opacity;
}
.black_keyboard{
    width: 97%;
    position: absolute;
    left: 3.4%;
}
.white_keyboard{
    position: absolute;
    width: 100%;
}
.music_sheet{
@include music_sheet;
}
.score_indicator{
    right: 5%;
    position: absolute;
    font-size: 30px;
    color: white;
}
.note_clicked_animation{
    animation: hoverblink 1s linear alternate infinite
}
.victory_text{
    @include victory_text;
}
.card_float{
    animation: float 6s ease-in-out infinite;
}