@import "variables";
@import "mixins";
@keyframes float {
    @include float;
}
@keyframes hoverblink {
    @include hoverblink;
}
@media all and (min-width: 720px) {
    @for $i from 0 through 6 {
        #white#{$i} {
            opacity: .3;
        }
    }

    @for $i from 7 through 13 {
        #white#{$i} {
            opacity: .9;
        }
    }
    @for $i from 14 through 23 {
        #white#{$i} {
            opacity: .3;
        }
    }
}
@media not all and (min-width: 720px) {
    .col-xs-4{
        padding-right: 0px;
        padding-left: 40px;
    }
    .skip_key7{
        width: 2.17%!important;
    }
    .skip_key10{
        width: 14.28%!important;
        margin-left: 1%;
        margin-right: 1%!important;
    }
    @for $i from 0 through 6 {
        #white#{$i} {
            display: none;
        }
    }

    @for $i from 7 through 13 {
        #white#{$i} {
            width: 14.28%
        }
    }
    @for $i from 14 through 23 {
        #white#{$i} {
            display: none;
        }
    }
    @for $i from 1 through 7 {
        #black#{$i} {
            display: none;
        }
    }
    @for $i from 7 through 13 {
        #black#{$i} {
            width: 10.28%;
            margin-left: 2%;
            margin-right: 2%;
        }
    }
    @for $i from 14 through 23 {
        #black#{$i} {
            display: none;
        }
    }
}
body{
    background-color: black;
    background-size: cover;
    background-image: $backgroundImg;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: center;
    min-height: 100vh;
    padding-top: 70px;
}
a{
    font-family: $link_font;
}
img {
    display: block;
    margin: auto;
    width: 50%;
}
.black_key{
    background-color: $blackKey;
    display: inline-block;
    @include black_key;
}
.black_key_select{
    border: $black_key_hover_border;
}
.skip_key{
    @include skip_key;
}
.white_key{
    @include white_key;
}
.keyboard{
    @include keyboard
}
.black_keyboard{
    width: 100%;
    position: absolute;
    padding-left: 2.0833%;
    padding-right: 2.0833%
}
.white_keyboard{
    position: absolute;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}
.music_sheet{
@include music_sheet;
}
.score_indicator{
    right: 5%;
    position: absolute;
    font-size: 30px;
    color: white;
}
.note_clicked_animation{
    animation: hoverblink 1s linear alternate infinite
}
.victory_text{
    @include victory_text;
}
.card_float{
    animation: float 6s ease-in-out infinite;
}