@import "variables";
@import "mixins";

@for $i from 0 through 6{
    #white#{$i}{
        opacity: .3;
    }
}
@for $i from 7 through 13{
    #white#{$i} {
        opacity: .6;
    }
}
@for $i from 14 through 23{
    #white#{$i}{
        opacity: .3;
    }
}
body{
    background-image: $backgroundImg;
    background-size: cover;
}
.container-fluid {
    //background-color: black;
    //background-image: $backgroundImg;
    //background-size: cover;
}
img {
    display: block;
    margin: auto;
    width: 50%;
}
.col-md-4{
    text-align: center;
}
.black_key{
    background-color: $blackKey;
    display: inline-block;
    @include black_key;
}
.black_key_select{
    border: $black_key_hover_border;
}
.skip_key{
    @include skip_key;
}
.white_key{
    display: inline-block;
    height: 200px;
    width: 45px;
    border: .5px solid black;
    background-color: $whiteKey;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    //opacity: .5;
}
.keyboard{
    width: auto;
    position: relative;
    height: $keyboard_height;
    margin: $keyboard_margin;
    opacity: $keyboard_opacity;
    //:hover {
    //    opacity: $keyboard_hover_opacity;
    //}
    //-webkit-transform: scale3d(1, 1, 2) rotate3d(1, 0, 0, 60deg);
}
.black_keyboard{
    width: auto;
    position: absolute;
    left: 50px;
}
.white_keyboard{
    width: auto;
}
.music_sheet{
    margin: 12px 0;
    background-image: url(../../images/music_sheet7.png);
    background-size: cover;
    border-radius: 10px;
    //opacity: .8;
}
a{
    font-family: "Calibri Light";
}